*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  background-color: transparent;
  padding: 5px 0;
  border: 1px solid #fff;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
}

.button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  margin: auto;
  display: inline-grid;
  align-items: end;
  grid-template-columns: 711px 399px;
  grid-template-rows: 534px;
  gap: 30px;
  grid-template-areas: "result details";
}

.result {
  grid-area: result;
}

.result__video-container {
  position: relative;
  margin-bottom: 17px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  gap: 40px;
  align-items: start;
}

.search-form__fieldset {
  flex-grow: 1;
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 3px;
  font-weight: inherit;
  font-size: inherit;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
}

.search-form__textfield {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #fff;
  border-left: none;
  border-right: none;
  padding: 2px 0;
  width: 225px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-top: 2px;
}

.search-form__checkbox {
  width: 19px;
  height: 19px;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-form__pseudo-checkbox {
  border: 1px solid #fff;
  height: 19px;
  width: 19px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__pseudo-checkbox::after {
  content: " ";
  display: block;
  height: 15px;
  width: 15px;
  background-color: #fff;
  background-position: center;
  background-size: contain;
  visibility: hidden;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  visibility: visible;
}

.search-form__label-text {
  line-height: 1;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__submit-button {
  height: 34px;
  width: 194px;
  align-self: end;
}

.content__details {
  display: flex;
  grid-area: details;
  gap: 21px;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 93%;
  text-transform: uppercase;
  padding-top: 4px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  overflow: auto;
  height: 303px;
  padding: 3px 3px 0 2px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card:focus {
  outline: none;
}

.content__list-item:has(:focus-visible) .content__card-link {
  outline: 1px solid #fff;
  outline-offset: 0;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.content__video-card-title {
  line-height: 1.1;
  font-size: 30px;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-basis: inherit;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  overflow: auto;
  flex-grow: 1;
}

.content__card-link_current {
  background-color: #545050;
}

.more-button {
  width: 100%;
}
